.col-1{
  width:10%;
  display: inline-block;
}
.col-1{
  width:8.333;
  display: inline-block;
}
.col-1{
  width:10%;
  display: inline-block;
}
.col-1{
  width:10%;
  display: inline-block;
}
.col-1{
  width:10%;
  display: inline-block;
}
.col-1{
  width:10%;
  display: inline-block;
}
.col-1{
  width:10%;
  display: inline-block;
}
.col-1{
  width:10%;
  display: inline-block;
}
.col-1{
  width:10%;
  display: inline-block;
}
.col-1{
  width:10%;
  display: inline-block;
}
.col-1{
  width:10%;
  display: inline-block;
}
.col-1{
  width:10%;
  display: inline-block;
}
